APP_ENV=prod
GATEWAY_BASE_URL=https://temple-api-gateway.onrender.com
IDENTITY_SERVICE_URL=https://temple-identity-service.onrender.com
REGISTRATION_SERVICE_URL=https://temple-registration-service.onrender.com
ADMIN_SERVICE_URL=https://temple-admin-service.onrender.com

