APP_ENV=staging
GATEWAY_BASE_URL=https://temple-api-gateway-staging.onrender.com
IDENTITY_SERVICE_URL=https://temple-identity-service-staging.onrender.com
REGISTRATION_SERVICE_URL=https://temple-registration-service-staging.onrender.com
ADMIN_SERVICE_URL=https://temple-admin-service-staging.onrender.com

